body {
  margin-top: 5px;
  font-family: Poppins;
  scroll-behavior: smooth;
}
.top{
  position: absolute;
  left: 38%;
  right: 60%;
  top: 0%;
  bottom: 99.81%;
  Width:45px;
  Height:8px;
  
  background: #0B4C61;
  border-radius: 0px 0px 20px 20px;
  }
.nav img {
  height: 37px;
  width: 40px;
  left: 219px;
  /* margin-top: 20px; */
  border-radius: 0px;
}
.navbar-brand {
  height: 37px;
  width: 178px;
  left: 257px;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  color: #222222;
}
.nav-item {
  /* margin-top: 24px; */
  margin-left: 10px;
  color: #333333;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
}
.sign {
  height: 42px;
  width: 145px;
  /* left: 1245px; */
  /* margin-top: 24px; */
  background: #ff3a44;
  border-radius: 50px;
  color: white;
}

.section-one-header {
  font-weight: 800;
}
.header-text {
  font-size: 17px;
  color: #888888;

  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.download {
  height: 42px;
  width: 230px;
  left: 1245px;
  background: #ff3a44;
  border-radius: 50px;
  color: white;
}
.image1 {
  position: relative;
  width: 181.52px;
  height: 196.04px;
  margin-left: 420px;
  z-index: 5;
}
.image2 {
  position: relative;
  width: 181.52px;
  height: 196.04px;
  margin-left: 25px;
  z-index: 6;
}

.video1 {
  position: absolute;
  margin-left: 8.5%;
  margin-top: 3.5%;
  height: 280px;
  width: 380px;
  border-radius: 20px;
  z-index: 10;
}
.section-2 {
  background-image: url("./background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.section-2 h1 {
  font-size: 38px;
  padding-top: 100px;
  font-weight: 700;
  text-align: center;
  color: white;
}
.section-2 p {
  color: white;
  text-align: center;
}
.image3 {
  position: relative;
  width: 344px;
  height: 316px;
  margin-left: 865.96px;
  z-index: 5;
  /* margin-top: 0px; */
  margin-top: -290px;
}
.image4 {
  position: relative;
  width: 259.82px;
  height: 280.61px;
  margin-left: -95px;
  margin-top: 100px;
  z-index: 5;
}
.icon1 {
  /* position: absolute; */

  text-align: center;
  margin-left: 40%;
  padding: 14px;
  margin-top: 60px;
  background: #0b4c61;
  height: 60px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px #574c5d;
}
.icon2 {
  /* position: absolute; */

  text-align: center;
  margin-left: 40%;
  padding: 14px 20px 14px 20px;
  /* padding-right: 10px; */
  margin-top: 60px;
  background: #0b4c61;
  height: 60px;
  width: 60px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px #574c5d;
}
.icon3 {
  /* position: absolute; */

  text-align: center;
  margin-left: 40%;
  padding: 12px 18px 12px 18px;
  /* padding-right: 10px; */
  margin-top: 60px;
  background: #0b4c61;
  height: 60px;
  width: 60px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px #574c5d;
}
.card1 {
  position: absolute;
  width: 300px;
  height: 380px;
  padding-top: 0;
  z-index: 10;
  margin-left: 50px;
  background: #ff3a44;
  border-radius: 20px;
  z-index: 10;
}
.card2 {
  position: absolute;
  width: 300px;
  height: 380px;
  margin-left: 410px;
  z-index: 10;

  background: #ffbd2f;
  border-radius: 20px;
}
.card3 {
  position: absolute;
  width: 300px;
  height: 380px;
  margin-left: 782px;

  z-index: 10;
  background: #0489ca;
  border-radius: 20px;
}
.p1 {
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
}
.p2 {
  text-align: center;
  font-size: small;
}

.header-1 h1 {
  margin-top: -103px;
  margin-right: 20px;
  color: #ffbd2f;
  font-weight: 800;
}
.header-1 h4 {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.header-1 p {
  text-align: left;
  color: #d8d8d8;
  font-size: small;
}
.graph {
  
  padding: 7px 7px 0px 7px;
  margin-bottom: 10px;
  margin-top: 15px;
  background: #0c5f79;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.badge {
  width: 28px;
  height: 28px;
}
.graph h5 {
  margin-top: 4px;
  color: #fff;

  font-weight: 600;
  font-size: 18px;
}
.graph p {
  font-size: 15px;
  
  text-align: left;
 

  color: #d0d0d0;
}
.image5 {
  position: relative;
  width: 210px;
  height: 237px;
  margin-left: 540px;
  margin-top: -330px;
  z-index: 5;
}
.graph-image {
  position: relative;
  width: 560px;
  height: 375px;
  margin-left: 20px;
  background: #0c5f79;
  /* margin-top: 10px; */
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  z-index: 10;
}
.image6-human {
  width: 620.61px;
  height: 462.57px;
}
.image7-inverted {
  position: absolute;
  height: 162.57px;
  margin-top: 35px;
  margin-left: -30px;
}
.section5 p{
  position: relative;
  color: #c6c6c6;
  margin-top: 145px;
  margin-left: 45px;
  text-align: left;
}
.section5 .name {
  color: white;
  font-weight: 700;
  /* margin-left: 45px; */
  text-align: left;
  margin-top:0px;
}
.section5 .para {
  color: white;
  /* margin-left: 46px; */
  color: #C6C6C6;
  margin-top:5px;
  


}
.circle-area{
  margin-left:20px;
}
.circle-1{
  background: #0D6785;

}
/* .comment-section{
  margin-left:-20px;
} */
.helping-section{

  padding-bottom: 40px;
    /* padding: 7px 7px 0px 7px; */
    background: #0C5F79;
border-radius: 35px;
  
}
.helping-section .header{
  padding:0px 50px 0px 50px;
  text-align:left;
  font-weight: 800;
  
}
.download-button{
  
    height: 42px;
    width: 230px;
    margin-top: 10px;
    margin-left: 50px;
    background: #ff3a44;
    border-radius: 50px;
    color: white;
  
}
.section6 p{
  margin-top: 30px;
  font-size: 18px;
  text-align:left;
}
.border{
  position: absolute;
width: 700px;
height: 0px;
margin-top: 30px;
/* left: 102px;
top: 3781px; */

border: 1px solid #196781;
}
.section7{
  border-top:1px solid #196781 ;
  margin-top: 50px;
  
}
.section71{
  margin-left: 60px;
}
.section7-1st{
  margin-top:30px;
  /* margin-left: 30px; */
}
.section7-logo{
  height: 46px;
  width: 46px;
}
.section7 h1{
  margin-top:-100px;
    font-size: 38px;
    /* padding-top: 100px; */
    font-weight: 700;
    text-align: center;
    color: white;
  
}
.section7 p{
  margin-top:10px;
  font-size: 14px;
  text-align:left;
color: #E6E6E6;

}
.section7-2nd h5{
  margin-top:40px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}
.section7-2nd p{
 
  color: #E6E6E6;
}
.section-2 p{
  color: #E6E6E6;
  margin-left: 20px;
  
}
.social-icon{
  height:45px;
  width:45px;
  padding:11px;
}


.section8{
  border-top:1px solid #196781 ;
  padding-bottom: 10px;
  
}
.section8 p{
padding-top:50px;
}

.footer-image{
  margin-left: 1030px;
  position: absolute;
width: 180px;
height: 200px;
margin-top: -102px;
/* left: 1427px; */
/* top: 3967px; */

/* border: 5px solid #FFBD2F; */

}

@media only screen and (max-width: 768px) {
  .top{
    display: none;
    }
  .section-2 h1 {
    font-size: 38px;
    padding-top: 100px;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  
  .sign {
    height: 42px;
    width: 145px;
    margin-left: 270px;
    background: #ff3a44;
    border-radius: 50px;
    color: white;
  }
  .download {
    height: 35px;
    width: 210px;
    background: #ff3a44;
    border-radius: 50px;
    color: white;
    font-size: smaller;
  }

  .image1 {
    position: relative;
    width: 175px;
    height: 180px;
    margin-left: 425px;
    z-index: 5;
  }
  .image2 {
    position: relative;
    width: 181.52px;
    height: 196.04px;
    margin-left: 30px;
    z-index: 6;
  }
  .video1 {
    position: absolute;
    margin-left: 16%;
    margin-top: 4%;
    height: 280px;
    width: 375px;
    border-radius: 20px;
    z-index: 10;
  }
  .image3 {
    position: relative;
    width: 344px;
    height: 316px;
    margin-left: 310.96px;
    z-index: 5;
    /* margin-top: 0px; */
    margin-top: -290px;
  }

  .card3 {
    position: relative;
    width: 300px;
    height: 380px;
    margin-left: 50px;
    justify-content: center;
    margin-top: 450px;
    z-index: 10;
    background: #0489ca;
    border-radius: 20px;
  }
  .header-1 h1 {
    margin-top: -103px;
    margin-right: 20px;
    color: #ffbd2f;
    font-weight: 800;
  }
  .header-1 h4 {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
  }
  .header-1 p {
    text-align: left;
    color: #d8d8d8;
    font-size: small;
  }
  .image5 {
    position: relative;
    width: 180px;
    height: 217px;
    margin-left: 540px;
    margin-top: -330px;
    z-index: 5;
  }
  .graph-image {
    position: relative;
    width: 540px;
    height: 375px;
    margin-left: 20px;
    background: #0c5f79;
    /* margin-top: 10px; */
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    z-index: 10;
  }
  /* .comment-section{
    margin-left:120px;
  } */
  .helping-section{
  
  padding-bottom: 40px;
    /* padding: 7px 7px 0px 7px; */
    background: #0C5F79;
border-radius: 35px;
  
}
.helping-section .header{
  /* padding:0px 50px 0px 50px; */
  text-align:center;
  font-weight: 800;
  padding-left: 100px;
}
.download-button{
  
    height: 42px;
    width: 230px;
    margin-top: 10px;
    margin-left: 230px;
    background: #ff3a44;
    border-radius: 50px;
    color: white;
  
}
.section6 p{
  /* margin-top: 30px; */
  font-size: 18px;
  text-align:center;
}
.footer-image{
  margin-left: 640px;
  position: absolute;
width: 80px;
height: 100px;
margin-top: -51px;
/* left: 1427px; */
/* top: 3967px; */

/* border: 5px solid #FFBD2F; */

}


}
@media only screen and (max-width: 360px) {
  .section-2 {
    background-image: url("./background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .section-one-header {
    font-weight: bold;
    font-size: 22px;
  }
 
  
  .sign {
    height: 42px;
    width: 145px;
    margin-left: 100px;
    background: #ff3a44;
    border-radius: 50px;
    color: white;
  }
  .header-text {
    font-size: small;
    color: #888888;

    font-style: normal;
    font-weight: 400;
    text-align: left;
  }
  .download {
    height: 35px;
    width: 210px;
    left: 1245px;

    background: #ff3a44;
    border-radius: 50px;
    color: white;
    font-size: smaller;
  }
  .image1 {
    position: relative;
    width: 80px;
    height: 60px;
    margin-left: 215px;
    z-index: 5;
  }
  .image2 {
    position: relative;
    width: 100px;
    height: 80px;
    margin-left: 0px;
    /* margin-left: 5px; */
    z-index: 6;
  }
  .video1 {
    position: absolute;
    margin-left: 14%;
    margin-top: 0px;
    /* margin-top: 4%; */
    height: 120px;
    width: 195px;
    border-radius: 10px;
    z-index: 10;
  }
  .section-2 h1 {
    font-size: 28px;
    padding-top: 200px;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  .section-2 p {
    color: white;
    text-align: center;
    font-size: small;
  }
  .section-3 h1{
    padding-top: 150px;
  }
  .image3 {
    position: relative;
    width: 158px;
    height: 170px;
    margin-left: 200.96px;
    z-index: 5;
    /* margin-top: 0px; */
    margin-top: -210px;
  }
  .image4 {
    position: relative;
    width: 259.82px;
    height: 280.61px;
    margin-left: -90px;
    margin-top: 150px;
    z-index: 5;
  }
  .card1 {
    position: absolute;
    width: 270px;
    height: 380px;
    padding-top: 0;
    z-index: 10;
    margin-left: 37px;
    background: #ff3a44;
    border-radius: 20px;
    z-index: 10;
  }
  .card2 {
    position: relative;
    width: 270px;
    height: 380px;
    margin-left: 37px;
    margin-top: -30px;
    background: #ffbd2f;
    border-radius: 20px;
  }
  .card3 {
    position: relative;
    width: 270px;
    height: 380px;
    margin-left: 37px;
    justify-content: center;
    margin-top: 20px;
    z-index: 10;
    background: #0489ca;
    border-radius: 20px;
  }
  
  .header-1 h1 {
    margin-top: -203px;
    margin-right: 20px;
    color: #ffbd2f;
    font-weight: 800;
  }
  .header-1 h4 {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
  }
  .header-1 p {
    text-align: left;
    color: #d8d8d8;
    font-size: small;
  }
  .graph p {
    font-size: 15px;
    line-height: 25px;
    text-align: left;

    color: #d0d0d0;
  }
  .image5 {
    position: relative;
    width: 92px;
    height: 137px;
    margin-left: 240px;
    margin-top: -150px;
    z-index: 5;
  }
  .graph-image {
    /* position:relative; */
    width: 260px;
    height: 175px;
    margin-left: 0px;
    background: #0c5f79;
    /* margin-top: 10px; */
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    z-index: 10;
  }
  .image6-human {
    width: 335.61px;
    height: 282.57px;
  }
  .image7-inverted {
    position: absolute;
    height: 152.57px;
    margin-top: 35px;
  }
  .section5 p {
    position: relative;
    color: #c6c6c6;
    margin-top: 145px;
    margin-left: 45px;
    text-align: justify;
  }
  .section5 .name {
    color: white;
    font-weight: 700;
    margin-left: 45px;
    text-align: justify;
    margin-top:0px;
  }
  .section5 .para {
    color: white;
    margin-left: 46px;
    color: #C6C6C6;
    margin-top:5px;
    
  
  
  }
  .circle-area{
    margin-left:46px;
  }
  .circle-1{
    background: #0D6785;
  
  }
  .comment-section{
    margin-left:-20px;
  
  }
  .helping-section{

    padding-bottom: 40px;
      /* padding: 7px 7px 0px 7px; */
      background: #0C5F79;
  border-radius: 35px;
    
  }
  .helping-section .header{
    padding:0px 50px 0px 50px;
    text-align:left;
    font-weight: 800;
    
  }
  .download-button{
    
      height: 42px;
      width: 230px;
      margin-top: 10px;
      margin-left: 50px;
      background: #ff3a44;
      border-radius: 50px;
      color: white;
    
  }
  .section6 p{
  
    font-size: 18px;
    text-align:left;
  }
  .section7{
    border-top:1px solid #196781 ;
    margin-top: 50px;
    
  }
  .section71{
    margin-left: 0px;
  }
  .section7 h1{
    margin-top:-200px;
      font-size: 38px;
      /* padding-top: 100px; */
      font-weight: 700;
      text-align: center;
      color: white;
    
  }
  .section7 p{
    margin-top:10px;
    font-size: 14px;
    text-align:left;
  color: #E6E6E6;
  
  }
  .section7-logo{
    height: 46px;
    width: 46px;
  }
  
  
  .section7-2nd h5{
    margin-top:40px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .section7-2nd p{
   
    color: #E6E6E6;
  }
 
  .social-icon{
    height:45px;
    width:45px;
    padding:11px;
  }
 
  .footer-image{
    display: none;
  
  }
}
